.listBlocks {
    margin: 0 auto;
    min-height: 520px;
    min-width: 100%;
    text-align: center;
    margin-left: 100;
    margin-right: 100;
    padding-left: 30px;
    ;
}

.listBlocks>.block {
    background-color: turquoise;
    color: #282c34;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 0 2px;
    text-align: center;
    transition-duration: 150ms;
    transition-property: height;
    transition-timing-function: ease-in;
    width: 100px;
}